.projects {
  cursor: pointer;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.projectsTitle {
  position: relative;
}

.projectsTitle img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  z-index: -1;
}

.projectsTitle h2 {
  text-align: center;
  font-size: 50px;
}

.projectsDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .projects {
    width: 90vw;
  }

  .projectsTitle h2 {
    font-size: 40px;
  }
}
