.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#home,
#about,
#services,
#portfolio,
#contact {
  scroll-margin-top: 80px;
}
