@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik+Vinyl&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #161513;
  font-family: "Outfit";
}
